.heart{
  position: absolute;
  max-height: 15%;
  max-width: 15%;
  top: 40%;
  animation-name: beating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

#heart_left{
  left: 15%;
}

#heart_right{
  right: 15%;
}

@keyframes beating {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(.7);
  }
}