@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&display=swap');

body{
    font-family: 'EB Garamond', serif;
}

.box{
    background-color: #d3d3d3;
    margin: 0 25%;
    padding: 5% 5%;
    border-radius: 25%;
    position: absolute;
    top: 30%;
    right: 0%;
    left: 0%;
}

.background{
    background-color: #e6e6e6;
}

.question_div{
    padding: 0 25%;
}

.buttons{
    width: 20%;
    border-radius:25%;
    border-style: none;
}

.button_div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.button_crush{
    font-family: 'EB Garamond', serif;
    background-color: #39e7e7;
}

.button_crush:hover{
    box-shadow: 2px 3px #655560;
    transition: all .3s ease-out;
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='25' height='30' viewport='0 0 100 100' style='fill:black;font-size:15px;'><text y='50%'>❤️</text></svg>") 16 0,auto; /*!emojicursor.app*/
}

#crush_background{
    background-image: url("/img/heart.gif");
}

#return_button{
    max-height: 25px;
    display: none;
}

#box_crush{
    box-shadow: 2px 3px #655560;
    background-color: hsl(356, 80%, 75%);
}

#question_crush{
    font-style: italic;
    text-align: center;
    font-size: 1.2rem;
}

#button_no{
    position: relative;
    top: 0;
    left: 0;
}